footer {
    background: #eee;
    padding: 20px;
    text-align: center;
}

.center {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.centertext {
    text-align: center;
}

.centerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************ Members ***************/
.categoryImg {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;

}

.categorySpc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.membersSpc {
    margin-left: 5rem;
}

.categoryName {
    margin-top: 0.5rem;
}

/************ Members ***************/
.timezone_select {
    margin-left: 1rem;
}

.matchup_date_title {
    font-size: larger;
}

.reservationcolor {
    color: darkgreen;
}

.categorySpc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.membersSpc {
    margin-left: 5rem;
}

.categoryName {
    margin-top: 0.5rem;
}

/************ Delivery Options ***************/
.optionsInput {
    width: 50%;
}

.extrafeeText {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.timeseperator {
    padding-top: 2rem;
    padding-left: 1rem;
    color: #990000;
}

/************* Items Options ****************/
.centerFileDiv {
    text-align: center;
}

.centerComponent {
    width: 15rem;
    margin: auto;
}

.selectComponent {
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 3rem;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

/************  Forms Styling ************/
input {
    width:100%;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    
}

select {
    width: 100%;
    padding: 10px;
    height: 5rem;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

textarea {
    width: 70%;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.border-bottom-input {
    border:0; 
    border-bottom:1px solid #eee; 
}

input[type=submit] {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;

    margin-top: 1em;
}

label {
    padding-top: 2rem;
    padding-left: 1rem;
    color: #990000;
}

input[type=file] {
    margin-top: 3rem;
    padding-left: 1rem;
    color: #990000;
}

input[type=date] {
    margin-top: 1rem;
    color: #990000;
}

/************* Assign Blade File ***********/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/********* Set Lineup ***********/
.RallyLeadsSpc {
    margin-left: 1rem;
}

.selectRallyLeads {
    width: 100%;
    padding: 10px;
    height: 2.5rem;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.formatted-text {
    white-space: pre-wrap;
  }

/********* Title For Reservation ***********/
.rrtitle {

    color: #3F51B5;
}